PORT=3000
SECRET_KEY=

DATABASE_URL=

# REDIS CONFIG
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# MAILER CONFIG
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_NAME="Bankable Support"